<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <title>Monopoly</title>
    <body style="background-color:#BFDBAE;">
</head>

<body>
    <center>

        <img src='img/MonopolyLogo.png' width='800'/>
        <p style='font-size:150%;'>v.2.0.0</p>
        <br />

        <p style='font-size:500%;'> {0}:    ${1} </p>
        <form action='/play'>
            <input type='hidden' name='info' value='{0}:{1}' />
            <input type='submit' name='action' value='Pay Money' style="font-size: 32px;  height: 100px;  width: 300px" />
            <br><br><br>
            <input type='submit' name='action' value='Refresh' style="font-size: 32px;  height: 100px;  width: 300px" />
            <br><br><br>
            <input type='submit' name='action' value='Player Accounts' style="font-size: 32px;  height: 100px;  width: 300px" />
        </form>

    </center>
</body>
</html>